[Unit]
Description=DMCargo Gunicorn Daemon
After=network.target

[Service]
User=dmcargo
Group=dmcargo
WorkingDirectory=/home/dmcargo/delivery-tracking/src
EnvironmentFile=/home/dmcargo/delivery-tracking/src/.env
ExecStart=/home/dmcargo/delivery-tracking/.venv/bin/gunicorn \
    --workers 3 \
    --bind unix:/home/dmcargo/delivery-tracking/run/gunicorn.sock \
    --chdir /home/dmcargo/delivery-tracking/src \
    --log-level debug \
    --error-logfile /home/dmcargo/delivery-tracking/logs/gunicorn-error.log \
    --access-logfile /home/dmcargo/delivery-tracking/logs/gunicorn-access.log \
    core.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target